---
import Layout from "../../layouts/Layout.astro";
---

<Layout isStaticHeader={true}>
  <section class="bg-white text-gray-600 text-md py-16">
    <div class="container max-w-4xl mx-auto px-4">
      <!-- Section Header -->
      <div class="mb-12">
        <h1 class="text-4xl mb-8 text-brand-dark font-bold">
          .NET MAUI Day, MARCH 14, 2025 IN LONDON!
        </h1>

        <h2 class="text-2xl mt-8 mb-4 text-brand-dark font-bold">.NET MAUI Now and Next - David Ortinau</h2>

        <p class="mt-4">
          We continue to pursue our mission to delight developers and empower you to achieve more with our SDKs and tools.
          While .NET 9 is still new and shiny, we are already working on .NET 10. In this session I'll share the product
          highlights and candidly share our vision for the future of mobile and desktop cross-platform development.
        </p>

        <h2 class="text-2xl mt-8 mb-4 text-brand-dark font-bold">Be bold: animate! - Jean-Marie Alfonsi</h2>

        <p class="mt-4">
          Most devs shy away from animations thinking it's too complicated...
          But thanks to Tasks and async await, it's super easy to create basic animations: translating, fading, scaling...
          We will see how we can use those animations for creating real-world components, like an animated floating button,
          or a scrolling-based toolbar revealer. Throughout the session, we will slowly accumulate confidence until becoming
          a true animation master \o/
        </p>

        <h2 class="text-2xl mt-8 mb-4 text-brand-dark font-bold">Rethinking UI code - Matt Lacey</h2>

        <p class="mt-4">
          We all know the challenges and limitations of XAML. So, let me show you how to think about UI code in a way that
          overcomes these issues and enables you to create UI code that is easy to write and maintain. We'll look at XAML,
          C#Markup, and more(!) and see how to write code unlike anything you've written before.
        </p>

        <h2 class="text-2xl mt-8 mb-4 text-brand-dark font-bold">How hard can it be? Porting 2 apps from Forms to MAUI - Rogier van der Hee, Norman Mackay</h2>

        <p class="mt-4">
          For a small company in the Netherlands, two apps were created in 2014-2015 to accompany custom hardware.
          One is for an electronic ignition system for classic cars, the other for a Battery Management System (BMS)
          for lithium cells. Both have a custom serial protocol on top of Bluetooth Low Energy. Both apps have been in
          the Stores for 10 years, first launched in 2014 using Forms 1.3 on iOS 8 and Android 5. For all these years
          they have been extended, updated to modern apps running on Forms 5. In this talk we’re going to show you the
          hardware & apps and take you through our porting journey. What was our plan? What decisions did we take along
          the way? What did surprise us – even after having experience already with porting several apps previously?
          With both developers having 10+ years of Xamarin and mobile dev experience as well as MAUI porting experience,
          how hard can it be? The good, the bad and the ugly of porting. As the saying goes, “a plan never survives contact
          with the enemy”, in this case was it us or MAUI?
        </p>
        
        <h2 class="text-2xl mt-8 mb-4 text-brand-dark font-bold">Figuring out what just happened in your .NET MAUI app - Mark Allibone</h2>

        <p class="mt-4">
          You’ve just happily released your app, only to discover that users are encountering issues. But what’s going wrong?
          User feedback can be unpredictable. With Serilog, we have the foundation for creating informative, structured logs.
          In this session, we’ll explore how structured logs can be a game changer. You’ll learn how to leverage logs not just
          in production but also during development. We’ll also look at options for viewing logs and some best practices. By
          the end of this session, you’ll know how to use logs effectively to enhance your users’ experience without getting
          lost in a sea of log messages.
        </p>

        <h2 class="text-2xl mt-8 mb-4 text-brand-dark font-bold">Building .NET MAUI Apps for Everyone - Guy Barker</h2>

        <p class="mt-4">
          .NET MAUI often makes it trivial for devs to make their apps more usable to more people, regardless of how people
          interact with their devices. So if different end-users prefer different colours and sizes of UI, or use a screen
          reader, or speech input, or a switch device to control their apps, .NET MAUI can help you support them. What’s more,
          if you don’t leverage some of the powerful and easy-to-use features that .NET MAUI has to offer, you might end up
          shipping an app that’s as unusable as many Store apps are today. .NET MAUI is here to help you and ALL your users!
          At this session I’ll discuss the accessibility-related code in the Accessible Solitaire app, and demonstrate the
          impact of that code in the running app. Some details of this app are at
          https://www.linkedin.com/pulse/accessible-solitaire-ios-android-reaching-starting-line-guy-barker-8ad9e.
          By the end of the session, you’ll be able to consider how you can make your own .NET MAUI apps more usable to more people!
        </p>
        
      </div>
    </div>
  </section>
</Layout>
