---
---
<section id="about" class="bg-white py-24">
  <div
    class="container max-w-5xl mx-auto px-4 md:flex md:items-center md:gap-8"
  >
    <!-- Image Column -->
    <div class="w-full md:w-1/2 mb-8 md:mb-0">
      <img
        src={`${import.meta.env.BASE_URL}/images/people.png`} 
        alt="Event attendees"
        class="w-full h-auto"
      />
    </div>
    <!-- Content Column -->
    <div class="w-full md:w-1/2 text-left">
      <p class="text-brand-extra font-bold mb-4 text-xl font-header uppercase">
        About Our Event
      </p>
      <h2
        class="text-brand-dark text-4xl md:text-4xl uppercase font-header font-bold mb-4"
      >
        The Only Conference Dedicated to .NET MAUI
      </h2>
      <p class="text-gray-700 text-md text-base mb-8">
        .NET MAUI Day is a vibrant, one-day event dedicated to exploring the power of .NET Multi-platform App UI (.NET MAUI). Join us as we dive into the latest tools, techniques, and trends for building native, cross-platform applications with .NET. Whether you're a seasoned developer or just starting your journey, MauiDay offers inspiring talks, expert-led sessions, and networking opportunities to help you level up your skills and connect with the community.
      </p>
      <a
        href="/code-of-conduct"
        class="border font-bold border-brand-extra text-brand-extra px-6 py-3 rounded-full text-md hover:bg-brand-extra hover:text-white transition"
      >
        Read our Code of Conduct
      </a>
    </div>
  </div>
</section>

