---
---
<section id="call-for-speakers" class="bg-brand-dark py-24">
    <!-- Content Container -->
    <div class="container max-w-4xl mx-auto px-4 text-center">
      <!-- Section Title -->
      <p class="text-brand-extra font-bold mb-4 text-xl font-header uppercase">Have you considered speaking?</p>
      <h2 class="text-white text-4xl md:text-4xl uppercase font-header font-bold mb-4">Call for Speakers</h2>
      <p class="text-white text-base text-md mb-12">
        We're looking for passionate speakers, of all levels of experience to share their knowledge and experience with the .NET MAUI community. If you have a topic you'd like to present, we'd love to hear from you! 
      </p>
      <a href="https://sessionize.com/maui-day-london-2025/" target="_blank" class="bg-white text-brand-dark font-bold px-6 py-3 rounded-full text-md hover:bg-brand-light hover:text-white">Submit a Talk</a>
    </div>
  </section>
  