---
import loadConfig from '../configLoader';

const config = await loadConfig();

const { location, locationNote, locationAddress } = config;
---

<section id="location" class="bg-brand-light py-16 pb-0 px-0">
  <!-- Content Container -->
  <div class="container max-w-4xl mx-auto px-4 text-center">
    <!-- Section Title -->
    <p class="text-brand-extra font-bold mb-4 text-xl font-header uppercase">
      Where we are
    </p>
    <h2
      class="text-brand-dark text-4xl md:text-4xl uppercase font-header font-bold mb-4"
    >
      The Location
    </h2>
    <p class="text-brand-dark text-base text-md mb-8">
      The .NET MAUI Day will take place in the {location}. Find
      the exact details below. <br />
      <span set:html={locationNote}></span>
    </p>
    <p class="text-brand-dark text-base text-md mb-12" set:html={locationAddress}>
      
    </p>
  </div>
  <div class="mx-auto p-0 m-0">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2514.709543368347!2d6.963219500000001!3d50.9290898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bf25b4bb4cf92b%3A0x80c4f5fba887b23b!2sMicrosoft%20Germany%20GmbH!5e0!3m2!1sen!2snl!4v1704618839331!5m2!1sen!2snl"
      width="100%"
      height="450"
      class="bg-brand-light"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>
