---
import loadConfig from '../configLoader';

const config = await loadConfig();
---
<section id="schedule" class="bg-white py-24">
    <!-- Content Container -->
    <div class="container max-w-4xl mx-auto px-4 text-center">
      <!-- Section Title -->
      <p class="text-brand-extra font-bold mb-4 text-xl font-header uppercase">Where to go and when</p>
      <h2 class="text-brand-dark text-4xl md:text-4xl uppercase font-header font-bold mb-4">The Schedule</h2>
      <p class="text-brand-dark text-base text-md mb-12">
        Check out our schedule below to plan your day and make the most of this event. See you there!
      </p>
      <div id="custom-schedule" data-sessionize-id=`${config.sessionizeId}`></div>
    </div>  
</section>
<script src="/js/custom-schedule.js" defer></script>