---
import loadConfig from '../configLoader';

const config = await loadConfig();
---
<section id="speakers" class="bg-brand-dark py-24">
    <!-- Content Container -->
    <div class="container max-w-4xl mx-auto px-4 text-center">
      <!-- Section Title -->
      <p class="text-brand-extra font-bold mb-4 text-xl font-header uppercase">Meet the experts</p>
      <h2 class="text-white text-4xl md:text-4xl uppercase font-header font-bold mb-4">Introducing Our Speakers</h2>
      <p class="text-white text-base text-md mb-12">
        Below are the speakers that will make this edition of MAUI Day unforgettable! 
        Go watch their awesome sessions and connect with them afterwards in our "hallway track".
      </p>
      <div id="custom-speakers" data-sessionize-id=`${config.sessionizeId}`>

      </div>
    </div>  
</section>  
<script src="/js/custom-speakers.js" defer></script>